parameters.env
.devcontainer/
/workspaces/TiendaV/src/Views/templates/layout.view.tpl
/workspaces/TiendaV/src/Views/templates/privatelayout.view.tpl
.DS_Store
vendor
.phpdoc
data
.vscode
.htaccess
docs/manual_tecnico
composer.lock
phpdoc.dist.xml